body {
	font-size: 1em;
	font-family: garamond, fantasy;
	color: #2243cc;
	background-color: rgb(198, 200, 235);
	background-image: url('../img/index.png');
  background-position: 15px 50px;
  background-repeat: no-repeat;
}

#titre {
	text-align: center;
	font-family: Comic Sans MS,arial ;
}
#cde{
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	color: blue;
}
#desc{
	color: black;
}
.bloc{
  height: 100%;
  max-height: 80%;
  width: auto;
  background-color: #4598FF;
  border-radius: 0.3em;
}
section{
    max-height: 1000px;
}
h1{
	color:	#acfe5e;
  text-align: center;
  font-family: 'Black Ops One', cursive;
  font-size: 3em;
}
/* Work on title section */
h2{
  text-align: center;
  line-height: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: #fff;
  border-radius: 1em;
}
/* WOrk on def item on DList*/
dl{
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
}
dt{
	margin-top: 1em;
  font-weight: bold;
  width: 33%;
}
dd{
  width: auto;
}
/*define style for command*/
.cde{
  font-size: 1em;
}
/*define style for attribute of command*/
.att{
  color: rgb(74, 6, 6);
  font-style: oblique;
  text-decoration: underline;
}
/*define style for option of command*/
.opt{
  color: rgb(204, 156, 191);
  font-style: italic;
}
/*definir la hauteur d'affichage  -- passage en width*/
/*small width*/
@media screen and (max-width: 479px){
    body{
        background-image: url('web/img/bcg_gris_400.png');
    }
    .bloc{
      max-height: 400px;
    }
		h1{
			font-size: 2em;
			margin: 0.5em auto;
		}
		h2{
			line-height: 1.3em;
			width: 100%;
		}
		h3{
			font-size: .9em;
		}
    dt{
      width: 100%;
    }
    dd{
      width: auto;
      text-align: right;
    }

}
/*medium width*/
@media screen and (min-width: 480x) and (max-width: 799px){
    body{
        background-color: aqua;
    }
    .bloc{
      background-color: #FF6600;
      max-height: 700px;
    }
    dt{
      width: 100%;
    }
    dd{
      width: 100%;
      text-align: right;
    }
}
/*medium plus width*/
@media screen and (min-width: 800px) and (max-width: 1000px){
    body{
        background-color: bisque;
    }
    .bloc{
      background-color: darkgreen;
      border: 1px red;
    }
    dt{
      width: 50%;
    }
    dd{
      width: 50%;

    }
}
